source https://nuget.org/api/v2

nuget FSharp.Core  redirects:force, content:none
nuget Fable.Core
nuget Fable.React
nuget Fable.Import.Ws
nuget Fable.Import.Express
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget FSharp.NET.Sdk

clitool dotnet-fable

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE
